


.txtContacto{
    padding: 20px;
    font-size: 20px;
    
}




/* VISTA MOBILE */
@media screen and(max-width:767px )  {
    .contenedorForm{
        display: flex;
        justify-content: center;
    } 
    .poster{
        display: none;
    }
    .formulario{
        width: 100%;
    }

}



/* VISTA TABLET */
@media screen and(min-width:768px) and (max-width:1024px) {
    .poster{
        display: none;
    }
    
}




/* VISTA DESKTOP  */
@media screen and (min-width:1024px) {
    .contenedorForm{
        display: grid;
        grid-template-areas: "grid1 grid2";
        grid-template-columns: 50% 50%;
    }
    .poster{
        padding-top: 50px;
        padding-bottom: 50px;
    }
  
    
}    