


.txtContacto{
    padding: 5px;
    font-size: 20px;
    
}




/* VISTA MOBILE */
@media screen and(max-width:767px )  {
    .contenedorForm{
        display: flex;
        justify-content: center;
    } 

}




/* VISTA DESKTOP  */
@media screen and (min-width:1024px) {
    
}    