.txtNosotros{
    font-size: 20px;
    padding: 5px;
}
.imgNos{
    width: 100%;
}

/* VISTA MOBILE */
@media screen and(max-width:767px )  {
}




/* VISTA DESKTOP  */
@media screen and (min-width:1024px) {
    .nosotrosGrid{
        display: grid;
        grid-template-areas: "grid1 grid2";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1;

    } 
    
   

}