 /* TRANSICIONES*/
 
 .footer__instagram--hover{
     transition: all 2s;

 }
 .footer__instagram--hover:hover{
    transform: scale(1.2,1.2)rotate(360deg);
}



.footer__whatsapp--hover{
    transition: all 2s;

}
.footer__whatsapp--hover:hover{
    transform: scale(1.2,1.2)rotate(360deg);
}



.footer__correo--hover{
    transition: all 2s;

}
.footer__correo--hover:hover{
    transform: scale(1.2,1.2)rotate(360deg);
}

    
.nav__productos--hover{
    transition: 1s;

}
.nav__productos--hover:hover{
    transform: scale(1.2,1.2);
}
.nav__compras--hover{
    transition: 1s;
}
.nav__compras--hover:hover{
    transform: scale(1.2,1.2);
}

    
.nav__talles--hover{
    transition: 1s;

}
.nav__talles--hover:hover{
        transform: scale(1.2,1.2);
}
.nav__nosotros--hover{
    transition: 1s;

}
.nav__nosotros--hover:hover{
        transform: scale(1.2,1.2);
}
.nav__contacto--hover{
    transition: 1s;

}
.nav__contacto--hover:hover{
        transform: scale(1.2,1.2);
}

.header__logo--hover:hover{
    transform: rotate(360deg);
}
.header__logo--hover{
    transition: 3s;

}
